.Short {
    width: 100%;
    background-color: #dc3545;
    margin-top: 5px;
    height: 3px;
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
}
.Weak {
    width: 100%;
    background-color: #ff9c07;
    margin-top: 5px;
    height: 3px;
    color: #ff9c07;
    font-weight: 500;
    font-size: 12px;
}
.Good {
    width: 100%;
    background-color:#fdf900 ;
    margin-top: 5px;
    height: 3px;
    color: #fdf900;
    font-weight: 500;
    font-size: 12px;
}
.Strong {
    width: 100%;
    background-color: #28a745;
    margin-top: 5px;
    height: 3px;
    color: #28a745;
    font-weight: 500;
    font-size: 12px;
}
